<%= form_for [@group, @activity, @participant] do |f| %>
  <%= form_error_messages!(f.object) %>

  <div class="form-group">
    <%= f.label :user_id, class: 'control-label' %> <br>
    <%# f.select :user_id, @activity.other_users(@participant.user).map { |u| [u.name, u.id] } %>
    <%# f.select :user_id, @group.users.map { |u| [u.name, u.id] } %>
    <%= f.select :user_id, options_for_select(@activity.other_users(@participant.user).collect{|c| [c.name,c.id]}), { prompt: '--球友--' }, { :onchange => "user_options(this.value)" } %>
  </div>

  <div class="form-group">
    <%= f.label :card_id, class: 'control-label' %> <br>
    <% if @participant.user.nil? %>
      <%# f.select :card_id, "<option value=\"0\">--请选择上级--</option>", { prompt: '--会员卡--' } %>
      <%= f.select :card_id, "", { prompt: '--会员卡--' }, { :onchange => "card_options(this.value)" } %>
    <% else %>
      <%= f.select :card_id, options_for_select(@participant.user.cards.collect{|c| [c.card_type.name,c.id]}), { prompt: '--会员卡--' }, { :onchange => "card_options(this.value)" } %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :friend_number, class: 'control-label' %>
    <%= f.number_field :friend_number, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :derated_pay, class: 'control-label' %>
    <%= f.number_field :derated_pay, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :net_pay, class: 'control-label' %>
    <%= f.number_field :net_pay, class: 'form-control', readonly: true %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>


<script type="text/javascript">
  var card_id = "#participant_card_id";
  function user_options(value){
    $.ajax({
      type: "POST",
      url:'/users/cards?id='+value,
      data:'text',
      success: function(data){
        $(card_id).html(data);
        $(card_id).change();
      }
    }
  )
  }
</script>

<script type="text/javascript">
  function card_options(value) {
    if (value == "") {
      $('#participant_net_pay').val('<%= @group.price %>');
    } else {
      $('#participant_net_pay').val('');
    }
  }
</script>
