<%= form_for [@group, @activity, @participant] do |f| %>
  <%= form_error_messages!(f.object) %>

  <div class="form-group">
    <%= f.label :user_id, class: 'control-label' %> <br>
    <%= f.text_field :user_id, class: 'form-control', readonly: true %>
  </div>

  <div class="form-group">
    <%= f.label :card_id, class: 'control-label' %> <br>
    <% if @participant.card.nil? %>
      <%= f.select :card_id, "", { prompt: '--会员卡--' }, { :onchange => "card_options(this.value)", class: 'form-control' } %>
    <% else %>
      <%= f.select :card_id, options_for_select(@participant.user.cards.in_group(@group.id).collect{|c| [c.card_type.name,c.id]}, @participant.card_id), { prompt: '--会员卡--' }, { :onchange => "card_options(this.value)", class: 'form-control' } %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :friend_number, class: 'control-label' %>
    <%= f.number_field :friend_number, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :derated_pay, class: 'control-label' %>
    <%= f.number_field :derated_pay, class: 'form-control', readonly: true %>
  </div>
  <div class="form-group">
    <%= f.label :net_pay, class: 'control-label' %>
    <%= f.number_field :net_pay, class: 'form-control', readonly: true %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>


<%= render 'form_script' %>
