<ul class="nav nav-pills nav-stacked">
  <% if controller_name == 'groups' and action_name == 'show' %>
    <li class='active'>
  <% else %>
    <li>
  <% end %>
  <%= link_to "#{@group.name} 首页", @group %>
  </li>

  <% if controller_name == 'groups' and action_name == 'activities' %>
    <li class='active'>
  <% else %>
    <li>
  <% end %>
  <%= link_to '群内活动', activities_group_path(@group) %>
  </li>

  <% if controller_name == 'groups' and action_name == 'members' %>
    <li class='active'>
  <% else %>
    <li>
  <% end %>
  <%= link_to members_group_path(@group) do %>
    <span class="badge pull-right"><%= @group.users.count %></span> 群内成员
  <% end %>
  </li>

  <% if controller_name == 'groups' and action_name == 'transactions' %>
    <li class='active'>
  <% else %>
    <li>
  <% end %>
  <%= link_to '球友存款记录', transactions_group_path(@group) %>
  </li>

  <% if controller_name == 'groups' and action_name == 'fees' %>
    <li class='active'>
  <% else %>
    <li>
  <% end %>
  <%= link_to '费用项管理', group_fees_path(@group) %>
  </li>

  <% if controller_name == 'groups' and action_name == 'card_types' %>
    <li class='active'>
  <% else %>
    <li>
  <% end %>
  <%= link_to '会员卡管理', group_card_types_path(@group) %>
  </li>

  <% if controller_name == 'groups' and action_name == 'edit' %>
    <li class='active'>
  <% else %>
    <li>
  <% end %>
  <%= link_to '群设置', edit_group_path(@group) %>
  </li>
</ul>
