<div class="row">
  <div class="col-md-8">

<%= link_to '创建活动', new_group_activity_path(@group), class: 'btn btn-warning' %>
<%# link_to 'Edit', edit_group_activity_path(@group, activity) %>
<br> <br>

<h4>活动列表</h4>

<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>活动时间</th>
      <th>活动人数</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @group.activities.each do |activity| %>
      <tr>
        <td><%= activity.full_title %></td>
        <td><%= activity.participants.size %></td>
        <td><%= link_to 'Show', [@group, activity] %> /
          <%= link_to 'Edit', edit_group_activity_path(@group, activity) %> /
          <%= link_to 'Destroy', [@group, activity], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

  </div>

  <div class="col-md-4">
    <%= render 'sidebar' %>
  </div>
</div>
