<div class="jumbotron">
  <h1>Jumbotron heading</h1>
  <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  <p><%= link_to '进入首页', root_path, role: 'button', class: 'btn btn-lg btn-success' %></p>
</div>


<div class="row">
  <div class="col-md-8">

<h4>群列表</h4>
<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>群标识符</th>
      <th>群名称</th>
      <th>群成员数</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.uniqname %></td>
        <td><%= link_to group.name, group %></td>
        <td><%= group.users.size %></td>
        <td>
          <%= link_to 'Edit', edit_group_path(group) %> /
          <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Group', new_group_path, class: 'btn btn-default' %>

  </div>

  <div class="col-md-4">
    <%# render 'sidebar' %>
  </div>
</div>
