<%= render partial: 'shared/navbar', locals: { group: @group } %>

<div class="row">
  <div class="col-md-12">

    <% if may? 'users', :new, @group %>
      <%= link_to '添加球友', new_user_path(group_id: @group.id), class: 'btn btn-warning pull-right' %>
    <% end %>

    <ul class="nav nav-tabs">
      <%= tab_link_to '全部球友', members_group_path(@group), nil, params[:tab] %>
      <%= tab_link_to '无卡球友', members_group_path(@group, tab: 'outdated'), 'outdated', params[:tab] %>
    </ul>

    <h4>群内球友</h4>
    <div class='users'>
      <%= render 'users' %>
    </div>

  </div>
</div>
