<div class="row">
  <div class="col-xs-12 col-md-8">

<%= link_to '球友入群', '#', class: 'btn btn-warning' %> need to implement
<%# link_to 'Edit', edit_group_activity_path(@group, activity) %>
<br> <br>

    <h4>群内球友</h4>
    <table class="table table-bordered">
      <thead>
        <tr class="active">
          <th>姓名</th>
          <th>账户余额</th>
          <th>活动次数</th>
        </tr>
      </thead>
      <tbody>
        <% @group.users.each do |user| %>
          <tr>
            <td><%= link_to user.name, user %></td>
            <td><%= show_price(user.transactions.sum('amount') - user.participants.sum('net_pay')) %></td>
            <td><%= user.participants.size %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-xs-6 col-md-4">
    <%= render 'sidebar' %>
  </div>
</div>
