<%= render partial: 'shared/navbar', locals: { group: @group } %>

<div class="row">
  <div class="col-md-8">

    <% if params[:state] == 'outdated' %>
      <%= link_to '充值', new_group_transaction_path(@group), class: 'btn btn-warning pull-right' %>
    <% else %>
      <%= link_to '添加球友', new_user_path(group_id: @group.id), class: 'btn btn-warning pull-right' %>
    <% end %>

    <ul class="nav nav-tabs">
      <% if params[:state] == 'outdated' %>
        <li><%= link_to '全部', members_group_path(@group) %></li>
        <li class="active"><%= link_to '无卡球友', members_group_path(@group, state: 'outdated') %></li>
      <% else %>
        <li class="active"><%= link_to '全部', members_group_path(@group) %></li>
        <li><%= link_to '无卡球友', members_group_path(@group, state: 'outdated') %></li>
      <% end %>
    </ul>

    <h4>群内球友</h4>
    <div class='users'>
      <%= render 'users' %>
    </div>

  </div>

  <div class="col-md-4">
    <%= render 'sidebar' %>
  </div>
</div>
