<%= link_to t('transactions.action.deposit'), new_transaction_path, class: 'btn btn-warning' %>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<p>
  <strong>Aboutme:</strong>
  <%= @group.aboutme %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>

