<%# form_for @user do |f| %>
<%# form_for(@user, :html => { :method => :put, class: '' }) do |f| %>
<%= form_for(@user, :url => { action: "create_member" }, :html => { :method => :post }) do |f| %>
  <%= form_error_messages!(f.object) %>

  <%= @group.name %>

  <div class='form-group'>
    <%# hidden_field_tag :group_id, class: 'form-control' %>
    <%# text_field_tag :group_id, params[:group_id], disabled: true %>
    <%# select_tag :group_id, options_from_collection_for_select(Group.all, "id", "name") %>
    <%= select_tag :group_id, options_for_select(Group.all.map { |u| [u.name, u.id] }, params[:group_id]) %>
  </div>

  <div class='form-group'>
    <%= f.label :email, class: 'control-label' %>
    <%= f.email_field :email, class: 'form-control', :autofocus => true %>
  </div>

  <!--
  <div class='form-group'>
    <%# f.label :password, class: 'control-label' %>
    <%# f.password_field :password, class: 'form-control', :autocomplete => "off" %>
    <span class='help-block'><%# t('devise.help_block.password') %></span>
  </div>

  <div class='form-group'>
    <%# f.label :password_confirmation, class: 'control-label' %>
    <%# f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%# f.label :current_password, class: 'control-label' %>
    <%# f.password_field :current_password, class: 'form-control' %>
    <span class='help-block'><%# t('devise.help_block.current_password') %></span>
  </div>
  -->

  <div class="form-group">
    <%= f.label :name, class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :birthday, class: 'control-label' %>
    <div>
      <%= f.date_select :birthday, start_year: Time.now.year-80, end_year: Time.now.year, default: Time.now.to_date - 30.years %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :gender, class: 'control-label' %>
    <%# f.select :gender, Contact::GENDER.map { |item| [t("users.gender.#{item[0]}"), item[1]] }, { include_blank: false }, { class: 'form-control' } %>
    <%= f.select :gender, User::GENDER.map { |item| [t("users.gender.#{item[0]}"), item[1]] }, { include_blank: false } %>
  </div>
  <div class="form-group">
    <%= f.label :mobile, class: 'control-label' %>
    <%= f.text_field :mobile, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :telephone, class: 'control-label' %>
    <%= f.text_field :telephone, class: 'form-control' %>
  </div>
  <!--
  <div class="form-group">
    <%# f.label :gravatar %>
    <%# f.file_field :gravatar %>
  </div>
  -->
  <div class="form-group">
    <%= f.label :location, class: 'control-label' %>
    <%= f.text_field :location, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :aboutme, class: 'control-label' %>
    <%= f.text_area :aboutme, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
