<div class="header">
  <% if user_signed_in? %>
    <%= link_to image_tag(current_user.gravatar, class: "img-circle", size: '40x40'), current_user, class: 'pull-right' %>
  <% end %>
  <ul class="nav nav-pills pull-right">
    <% if user_signed_in? %>
      <% current_user.groups.each do |group| %>
        <li><%= link_to group.name, group %></li>
      <% end %>
      <li><%# link_to '用户首页', current_user %></li>
      <li><%# link_to '修改资料', edit_user_path(current_user) %></li>
      <li><%# link_to '重设密码', edit_user_registration_path %></li>
      <%# header_link_to 'users', 'show', current_user.name, current_user %>
      <li> <%= link_to t('devise.logout'), destroy_user_session_path, method: :delete %> </li>
      <%# link_to t('devise.logoff'), registration_path(current_user), :method => :delete, data: { confirm: t('layouts.confirm') } %>
    <% else %>
      <li><%= header_link_to 'sessions', 'new', t('devise.login'), new_user_session_path %></li>
      <li><%= header_link_to 'registrations', 'new', t('devise.signup'), new_user_registration_path %></li>
    <% end %>
  </ul>

  <h3 class="text-muted"><strong><%= link_to '用户首页', current_user %></strong></h3>
</div>
