<div class="row">
  <div class="col-md-9">

    <ul class="nav nav-tabs">
      <%= tab_link_to '近期活动', user_path(@user), nil, params[:tab] %>
      <%= tab_link_to '会员卡',   user_path(@user, tab: 'cards'), 'cards', params[:tab] %>
      <%= tab_link_to '充值记录', user_path(@user, tab: 'transactions'), 'transactions', params[:tab] %>
      <%= tab_link_to '活动记录', user_path(@user, tab: 'activities'), 'activities', params[:tab] %>
    </ul>

    <% if params[:tab].nil? or params[:tab] == 'recents' %>

      <%= render partial: 'activities/activity_club', collection: @user.activities.oneweek, as: :activity %>

    <% elsif params[:tab] == 'cards' %>
      <br>
<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>俱乐部名称</th>
      <th>卡名称</th>
      <th>有效日期</th>
      <th>剩余次数/账户余额</th>
    </tr>
  </thead>

  <tbody>
    <%# @group.users.map(&:cards).each do |card| %>
    <% @user.cards.each do |card| %>
      <tr>
        <td><%= card.card_type.group.name %></td>
        <td><%= link_to card.card_type.name, group_card_path(card.card_type.group, card) %></td>
        <td>
          从 <%= card.started_at %>
          <br>至 <%= card.stopped_at.nil? ? '永不过期' : card.stopped_at %>
        </td>
        <td><%= card.remaining_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>

    <% elsif params[:tab] == 'transactions' %>

      <br>
      <%= render 'shared/transactions_by_users', transactions: @user.transactions %>

    <% elsif params[:tab] == 'activities' %>

      <br>
<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>活动日期</th>
      <th>俱乐部</th>
      <th>个人可抵消费用（元）</th>
      <th>使用次数/消费金额</th>
    </tr>
  </thead>
  <tbody>
    <% @user.participants.each do |participant| %>
      <% activity = participant.activity %>
      <% group = activity.group %>
      <tr>
        <td><%= link_to (localize_date activity.started_at), [group, activity] %></td>
        <td><%= link_to group.name, group %></td>
        <td><%= participant.derated_pay %></td>
        <td><%= participant.consume_number %></td>
      </tr>
    <% end %>
  </tbody>
</table>

    <% end %>

  </div>
  <div class="col-md-3">
    <%= render 'sidebar' %>
  </div>
</div>
