<div class="row">
  <div class="col-md-9">
    <%# render 'balances' %>
    <h4>一周内活动 (已加入的群)</h4>

<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>群名称</th>
      <th>活动时间</th>
      <th>报名人数</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <% @user.activities.inoneweek.each do |activity| %>
      <tr>
        <td><%= link_to activity.group.name, activity.group %></td>
        <td><%= activity_link_to activity %></td>
        <td><%= activity.participants.size %></td>
        <td>
          <%= link_to 'Edit', edit_group_activity_path(activity.group, activity) %> /
          <%= link_to 'Destroy', [activity.group, activity], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

    <h4>我的会员卡</h4>
<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>会员名称</th>
      <th>卡名称</th>
      <th>开卡日期</th>
      <th>截止日期</th>
      <th>剩余次数/账户余额</th>
      <th>操作</th>
    </tr>
  </thead>

  <tbody>
    <%# @group.users.map(&:cards).each do |card| %>
    <% @user.cards.each do |card| %>
      <tr>
        <td><%= card.user.name %></td>
        <td><%= link_to card.card_type.name, group_card_path(card.card_type.group, card) %></td>
        <td><%= card.started_at %></td>
        <td><%= card.stopped_at %></td>
        <td><%= card.remaining_number %></td>
        <td>
          <%= link_to 'Edit', edit_group_card_path(card.card_type.group, card) %> /
          <%= link_to 'Destroy', [card.card_type.group, card], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


    <h4><%= link_to '我的存款记录', transactions_user_path(@user) %></h4>
    <%= render 'shared/transactions', transactions: @user.transactions %>


<h4>活动记录</h4>
<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>活动日期</th>
      <th>个人可抵消费用（元）</th>
      <th>使用次数/消费金额</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @user.participants.each do |participant| %>
      <% activity = participant.activity %>
      <% group = activity.group %>
      <tr>
        <td><%= link_to (localize_date activity.started_at), [group, activity] %></td>
        <td><%= participant.derated_pay %></td>
        <td><%= participant.consume_number %></td>
        <td>
          <%= link_to '编辑', edit_group_activity_participant_path(group, activity, participant) %> / 
          <%= link_to '删除', [group, activity, participant], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


  </div>
  <div class="col-md-3">
    <%= render 'sidebar' %>
  </div>
</div>
