<div class="row">
  <div class="col-xs-12 col-md-8">

<h4>交易记录</h4>

<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>姓名</th>
      <th>操作</th>
      <th>金额（元）</th>
      <th>操作日期</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% current_user.transactions.each do |txn| %>
      <tr>
        <td><%= link_to txn.user.name, txn.user %></td>
        <td><%= t('transactions.action.'+txn.action) %></td>
        <td><%= show_price txn.amount %></td>
        <td><%= localize_date txn.operated_at %></td>
        <td>
          <%= link_to 'Edit', edit_transaction_path(txn) %> / 
          <%= link_to 'Destroy', txn, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

  </div>
  <div class="col-xs-6 col-md-4">
    <%= render 'sidebar' %>
  </div>
</div>
