<%# select_tag "province", options_for_select(["----请选择----"] + Province.all.collect{|e| [e.name,e.code]}), :onchange => "get_options(this.value)" %>
<%# select_tag "city", "<option value=\"0\">--请选择上级--</option>"%>
<%# f.select :province, options_for_select(["----请选择----"] + Province.all.collect{|e| [e.name,e.code]}), { prompt: '--省份--' }, { :onchange => "get_options(this.value)" } %>
<%# f.select :province, options_for_select(Province.all.collect{|e| [e.name,e.code]}), { prompt: '--省份--' }, { :onchange => "province_options(this.value)" } %>
<%# f.select :city, "<option value=\"0\">--请选择上级--</option>", { prompt: '--城市--' }, { :onchange => "city_options(this.value)" } %>
<%# f.select :district, "<option value=\"0\">--请选择上级--</option>", { prompt: '--区县--' } %>

<%= f.select :province, options_for_select(Province.all.collect{|e| [e.name,e.code]}, owner.province), { prompt: '--省份--' }, { :onchange => "province_options(this.value)" } %>

<% if owner.province.nil? %>
  <%= f.select :city, "<option value=\"0\">--请选择上级--</option>", { prompt: '--城市--' }, { :onchange => "city_options(this.value)" } %>
<% else %>
  <% province = Province.find_by(code: owner.province) %>
  <%= f.select :city, options_for_select(province.cities.collect{|e| [e.name,e.code]}, owner.city), { prompt: '--城市--' }, { :onchange => "city_options(this.value)" } %>
<% end %>

<% if owner.city.nil? %>
  <%= f.select :district, "<option value=\"0\">--请选择上级--</option>", { prompt: '--区县--' } %>
<% else %>
  <% city = City.find_by(code: owner.city) %>
  <%= f.select :district, options_for_select(city.districts.collect{|e| [e.name,e.code]}, owner.district), { prompt: '--区县--' } %>
<% end %>

<script type="text/javascript">
//var city_id = "##group_city";
  var city_id = <%= "#{prefix_id}city" %>;
  function province_options(value){
    $.ajax({
      type: "POST",
      url:'/groups/cities?province_code='+value,
      data:'text',
      success: function(data){
        $(city_id).html(data);
        $(city_id).change();
//      $("#group_city").html(data);
//      $("#group_city").change();
      }
    }
  )
  }
</script>

<script type="text/javascript">
//var district_id = "#group_district";
  var district_id = <%= "#{prefix_id}district" %>;
  function city_options(value){
    $.ajax({
      type: "POST",
      url:'/groups/districts?city_code='+value,
      data:'text',
      success: function(data){
        $(district_id).html(data);
      }
    }
  )
  }
</script>
