<%= form_for [@group, @card_type] do |f| %>
  <div class="form-group">
    <%= f.label :kind, class: 'control-label' %>
    <%= f.select :kind, CardType::CARD_TYPES.map { |item| [t("card_types.type.#{item}"), item] }, { include_blank: false }, { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label :name, class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :price, class: 'control-label' %>
    <%= f.number_field :price, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :duration, class: 'control-label' %>
    <%= f.number_field :duration, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :number, class: 'control-label' %>
    <%= f.number_field :number, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
