<%= render 'shared/cardtabs' %>
<br>

<div class="row">
  <div class="col-md-12 col-xs-18">

    <% if may? 'card_types', :new, [@group] %>
      <%= link_to t('card_types.new'), new_group_card_type_path(@group), class: 'btn btn-warning' %>
    <% end %>

    <h4>会员卡类型</h4>

    <div class="row">
      <% @group.card_types.each do |card_type| %>
        <% if card_type.is_debit_card? %>
          <%= render 'card_types/debit_card', card_type: card_type %>
        <% elsif card_type.is_number_card? %>
          <%= render 'card_types/number_card', card_type: card_type %>
        <% elsif card_type.is_cash_card? %>
          <%= render 'card_types/cash_card', card_type: card_type %>
        <% elsif card_type.is_period_card? %>
          <%= render 'card_types/period_card', card_type: card_type %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
