<%= form_for [@group, @card] do |f| %>
  <%= form_error_messages!(f.object) %>

  <div class="form-group">
    <%= f.label :user_id, class: 'control-label' %><br>
    <%= f.select :user_id, @group.users.map { |u| [u.name, u.id] } %>
    <%# f.select :user_id, @group.users.map { |u| [u.name, u.id] }, {}, { class: 'form-control' } %>
  </div>
  <div class="form-group">
    <%= f.label :card_type_id, class: 'control-label' %><br>
    <%= f.select :card_type_id, @group.card_types.map { |u| [u.name, u.id] } %>
    <%# f.select :card_type_id, @group.card_types.map { |u| [u.name, u.id] }, {}, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :started_at, class: 'control-label' %><br>
    <%# f.datetime_select :started_at %>
    <%= f.text_field :started_at, class: 'datepicker started-date' %>
  </div>
  <div class="form-group">
    <%= f.label :stopped_at, class: 'control-label' %><br>
    <%# f.datetime_select :stopped_at %>
    <%= f.text_field :stopped_at, class: 'datepicker stopped-date' %>
  </div>
  <div class="form-group">
    <%= f.label :number, class: 'control-label' %><br>
    <%= f.number_field :number %>
    <%# f.number_field :number, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
