<div class="row">
  <div class="col-md-8">
    <div class="panel panel-info">
      <div class="panel-heading">
        <strong><%= @card.card_type.name %></strong>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-5">
            <p>会员：<%= @card.user.name %></p>
            <p>价格：<%= @card.card_type.price %></p>
            <p>活动次数：<%= @card.card_type.number %></p>
            <p>剩余次数：<%= @card.remaining_number %></p>
          </div>
          <div class="col-md-7">
            <p>有效期（月）：<%= @card.card_type.duration %></p>
            <p>开卡日期：<%= localize_date @card.started_at %></p>
            <p>失效日期：<%= localize_date @card.stopped_at %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
