<div class="row">
  <div class="col-md-8">

  <h4>会员卡信息</h4>

  <% if @card.is_debit_card? %>
    <%= render 'debit_card' %>
  <% elsif @card.is_number_card? %>
    <%= render 'number_card' %>
  <% elsif @card.is_period_card? %>
    <%= render 'period_card' %>
  <% end %>

<h4>用卡记录</h4>
<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>活动日期</th>
      <th>姓名</th>
      <th>所带朋友数目</th>
      <% if @card.is_debit_card? %>
        <th>消费金额</th>
      <% else %>
        <th>消费次数</th>
      <% end %>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% number = @card.card_type.number %>
    <% @card.participants.each do |participant| %>
      <% activity = participant.activity %>
      <% group = activity.group %>
      <tr>
        <td><%= link_to (localize_date activity.started_at), [group, activity] %></td>
        <td><%= participant.user.name %></td>
        <td><%= participant.friend_number %></td>
        <td><%= participant.consume_number %></td>
        <td><%= link_to '编辑', edit_group_activity_participant_path(group, activity, participant) %> / 
        <%= link_to '删除', [group, activity, participant], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

    <h4>充值记录</h4>
    <%= render 'shared/transactions', transactions: @card.transactions %>

  </div>

  <div class="col-md-4">
    <%= render 'groups/sidebar' %>
  </div>
</div>
