<%= link_to '新操作', new_transaction_path, class: 'btn btn-warning' %>

<br> <br>

<h4>交易记录</h4>

<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>姓名</th>
      <th>操作</th>
      <th>金额（元）</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= link_to transaction.user.name, transaction.user %></td>
        <td><%= t('transactions.action.'+transaction.action) %></td>
        <td><%= transaction.amount %></td>
        <td>
          <%= link_to 'Show', transaction %> / 
          <%= link_to 'Edit', edit_transaction_path(transaction) %> / 
          <%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
