<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @transaction.user %>
</p>

<p>
  <strong>Action:</strong>
  <%= @transaction.action %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<%= link_to 'Edit', edit_group_transaction_path(@group, @transaction) %> |
<%= link_to 'Back', group_transactions_path(@group) %>
