<%# form_for(@activity) do |f| %>
<%= form_for [@group, activity] do |f| %>
  <div class="form-group">
    <%= f.label :started_at %><br>
    <%= f.datetime_select :started_at, default: { hour: 19, minute: 30 } %>
  </div>
  <div class="form-group">
    <%= f.label :stopped_at %><br>
    <%= f.datetime_select :stopped_at, default: { hour: 21, minute: 30 } %>
  </div>
  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
