<h4>活动个人支出</h4>
<%= link_to t('participants.new'), new_group_activity_participant_path(@group, @activity) %>

<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>姓名</th>
      <th>所带朋友数目</th>
      <th>使用的会员卡</th>
      <th>使用次数/消费金额</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @activity.participants.each do |participant| %>
      <tr>
        <td><%= link_to participant.user.name, participant.user %></td>
        <td><%= participant.friend_number %></td>
        <td><%= link_to participant.card.card_type.name, [@group, participant.card] %></td>
        <td><%= participant.consume_number %></td>
        <td>
          <%= link_to '编辑', edit_group_activity_participant_path(@group, @activity, participant) %> / 
          <%= link_to '删除', [@group, @activity, participant], method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
