<h4>活动个人支出</h4>
<% if may? 'participants', :new, [@group, @activity] %>
  <%= link_to t('participants.new'), new_group_activity_participant_path(@group, @activity) %>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>姓名</th>
      <th>所带朋友数目</th>
      <th>羽球抵扣费用（元）</th>
      <th>实际需付费用（元）</th>
      <% if may? 'participants', :edit, [@group, @activity, @participant] %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @activity.participants.each do |participant| %>
      <tr>
        <td><%= participant.user.name %></td>
        <td><%= participant.friend_number %></td>
        <td><%= participant.derated_pay %></td>
        <td><%= participant.net_pay %></td>
        <% if may? 'participants', :edit, [@group, @activity, @participant] %>
          <td>
            <%= link_to '编辑', edit_group_activity_participant_path(@group, @activity, participant) %> / 
            <%= link_to '删除', [@group, @activity, participant], method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
