<h4>活动单项费用</h4>
<%= link_to t('fee_items.new'), new_group_activity_fee_item_path(@group, @activity) %>

<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>费用项名称</th>
      <th>费用（元）</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @activity.fee_items.each do |fee_item| %>
      <tr>
        <td><%= fee_item.fee.name %></td>
        <td><%= fee_item.price %></td>
        <td><%= link_to '编辑', edit_group_activity_fee_item_path(@group, @activity, fee_item) %> / 
        <%= link_to '删除', [@group, @activity, fee_item], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

