<%= link_to 'Edit', edit_group_activity_path(@group, @activity) %> |
<%= link_to 'Back', @group %>

<br>
<br>

<div>
  <h4>活动时间</h4>
  <%= localize_date @activity.started_at %>, <%= localize_time @activity.started_at %> - <%= localize_time @activity.stopped_at %>
</div>

