<div class="row">
  <div class="col-xs-12 col-md-6">

    <%= link_to t('layouts.edit'), edit_group_activity_path(@group, @activity) %> |
    <%= link_to t('layouts.destroy'), [@group, @activity], method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to t('layouts.back'), @group %>

    <br>
    <br>

    <div>
      <h4>活动时间</h4>
      <%= localize_date @activity.started_at %>, <%= localize_time @activity.started_at %> - <%= localize_time @activity.stopped_at %>
    </div>

<h4>活动费用汇总</h4>
<% pay = ActivitiesHelper::PayCalc.new(@activity) %>
<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>公共支出费用</th>
      <th>总抵扣费用（元）</th>
      <th>费用总和（元）</th>
      <th>活动人数</th>
      <th>平均费用（元）</th>
      <th>实收费用</th>
      <th>充公费用</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= pay.court_pay %></td>
      <td><%= pay.derated_pay %></td>
      <td><%= pay.total_pay %></td>
      <td><%= pay.pay_count %></td>
      <td><%= pay.average_pay %></td>
      <td><%= pay.actual_pay %></td>
      <td><%# @activity.remainder %></td>
    </tr>
  </tbody>
</table>

    <%= render 'pay_fees' %>
    <%= render 'pay_members' %>

  </div>

  <div class="col-xs-6 col-md-4 col-md-offset-2">
    <%= link_to t('fee_items.new'), new_group_activity_fee_item_path(@group, @activity) %> <br>
    <%= link_to t('participants.new'), new_group_activity_participant_path(@group, @activity) %>
    <%= render file: 'fees/new' %>
  </div>
</div>
