<div class="row">
  <div class="col-md-8">
    <%= render 'activity', activity: @activity %>

    <% unless @activity.pay_with_card? %>
      <div class="bs-callout bs-callout-info">
        <h4>费用计算方法</h4>
        总费用 = 所有单项费用 + 所有个人可抵扣费用<br>
        平均费用 = 总费用 / 活动人数<br>
        个人支出 = 平均费用 * (1 + 所带朋友人数) - 个人可抵扣费用
      </div>

      <%= render 'pay_summary' %>
      <%= render 'pay_fees' %>
      <%= render 'pay_members' %>
    <% else %>
      <%= render 'pay_members_with_card' %>
    <% end %>

  </div>

  <div class="col-md-4">
    <% if may? 'participants', :enroll, [@group, @activity] %>
      <%# link_to '我要报名', enroll_group_activity_participants_path(@group, @activity), class: 'btn btn-success' %>
    <% end %>
    <br>
    <br>
    <br>
    <% if may? 'fees', :new, [@group, @activity] %>
      <%= render file: 'fees/new' %>
    <% end %>
  </div>
</div>
